.answer {
  border: 1px solid;
  display: flex;
  margin: 10px;
  cursor: pointer;
  height: 50px;
  width: 50%;
}

.correct-answer {
  background-color: green;
}

.wrong-answer {
  background-color: red;
}

.disabled-answer {
  pointer-events: none;
}